name: Create Module Release

on:
  push:
    branches:
      - v0.0.0-dev
      #- '*/*v*.*.*'
  # workflow_dispatch:

permissions:
  contents: write

jobs:
  release-module:
    name: Release Go Module
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - name: Set up Go
        uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3
        with:
          go-version: '1.25'

      - name: Parse module name and version from tag
        id: parse_tag
        run: |
          TAG=${{ github.ref_name }}
          echo "TAG_NAME=$TAG" >> $GITHUB_ENV
          echo "MODULE_NAME=$(echo $TAG | cut -d'/' -f1)" >> $GITHUB_ENV
          echo "MODULE_VERSION=$(echo $TAG | cut -d'/' -f2)" >> $GITHUB_ENV

      - name: Build the module binary
        run: |
          echo "Building module: ${{ env.MODULE_NAME }} at version ${{ env.MODULE_VERSION }}"
          cd ./${{ env.MODULE_NAME }}
          go build -o ../${{ env.MODULE_NAME }}-${{ env.MODULE_VERSION }}

      - name: Create GitHub Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create ${{ env.TAG_NAME }} \
            --title "${{ env.MODULE_NAME }} ${{ env.MODULE_VERSION }}" \
            --notes "Release for ${{ env.MODULE_NAME }} version ${{ env.MODULE_VERSION }}." \
            ../${{ env.MODULE_NAME }}-${{ env.MODULE_VERSION }}
